sudo: true
language: go
go:
  - 1.6
  - 1.7
  - tip
before_install:
  - go get github.com/mattn/goveralls
script:
  - $HOME/gopath/bin/goveralls -package . -service=travis-ci
matrix:
  allow_failures:
    - go: tip
